@font-face {
    font-family: 'Emitha-Script';
    src: local('Emitha-Script'), url('./Emitha-Script.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Emitha-Swashes';
    src: local('Emitha-Swashes'), url('./Emitha-Swashes.ttf') format('truetype');
  }