@import "./fonts/font.css";

.attireRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  border-style: dashed;
  background-color: #d4bdad;
}

body {
  flex-direction: column;
  justify-content: flex-start;
  
}

#bodyCarousel {
  max-width: 40%;
  align-self: center;
  align-items: center;
  margin-bottom: 4em;
  margin-top: 4em;
}

#bodyEventCards {
  align-self: center;
}

#bodyGuestList {
  max-width: 50%;
  align-self: center;
  margin-bottom: 2em;
  height: 100%;
  padding-bottom: 5em;
}

#bodyTest {
  padding-top: 20vh;
  max-width: 50%;
  align-self: center;
  margin-bottom: 2em;
  height: 100vh;
}

.cardLinks {
  align-self: flex-end;
}

.cardText {
  max-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.engagementShootCol {
  height: 100%;
  width: 50%;
  border-style: dashed;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;

}

.engagementShootSubCol{
  min-width: 370px;
  width: 80%;
  border-style: dashed;
  display: block;
  margin: auto;
}

.engagementShootRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  border-style: dashed;
  background-color: #e8ddd4;
}

.faqTitleSubCol{
  display: flex;
  flex-direction: column;
  width: 50%;
  border-style: dashed;
  justify-content: start;
  padding-top: 5em;
}

#event {
  border-color: red;
  border-style: dashed;
  width: 384px;
  min-width: 384px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.eventCard {
  padding: .5em;
  height: 400px;
  min-width: 376px;
  display: flex;
  flex-direction: column;
}

.eventCardsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 3em 3em;
}

.eventDetails {
  min-width: 60%;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 5em;
  margin-top: 0;
  padding-left: 3em;
  flex-direction: column;
}

.EventHeader {
  /* background-image: url('./assets/Header/WeddingHeaderWide.jpg'); */
  background-color: #141414;
  background-position: center top;
  min-width: 100%;
  height: 100vh;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}

.EventHeaderMirror {
  /* background-image: url('./assets/Header/WeddingHeaderWide.jpg'); */
  background-color: #1a1919;
  background-position: center top;
  min-width: 100%;
  height: 100vh;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}

.eventName {
  min-width: 40%;
  min-height: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventRowLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3em;
}

.eventRowRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3em;
}

#eventTitle {
  font-size: 15vw;
  justify-content: flex-start;
  min-width: 100%;
}  

#eventText {
  font-size: 3vw;
  display: flex;
  justify-content: flex-start;
}

#eventTextinfo {
  font-size: 2.5vw;
  display: flex;
  color: #ffffff;
  text-shadow: 1px 2px 0 #000;
}

.faqTitleCol{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  border-style: dashed;
  justify-content: center;
}

.faqTitleSubCol{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 270px;
  border-style: dashed;
  justify-content: start;
  padding-top: 5em;
}

.faqQuestionsCol{
  height: 100%;
  width: 50%;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.faqQuestionsSubCol{
  height: 100%;
  width: 75%;
  min-width: 295px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.faqRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  border-style: dashed;
  background-color: #f6f2e7;
}

h1 {
  font-size: 90px;
  font-family: 'DreamAvenue';
  color: hwb(0 0% 100%);
  padding-top: 4em;
  padding-left: 1em;
}

h2 {
  font-size: 15px;
  font-family: 'DreamAvenue';
  color: #5c5a5a;
  margin: 0;
}

h3 {
  font-size: 15px;
  font-family: 'DreamAvenue';
  color: #000000;
  margin: 0 0 20px 0;
}

h4 {
  font-size: 40px;
  font-family: 'DreamAvenue';
  text-align: start;
  margin: 0;
  color: #5c5a5a;
}

h5 {
  font-size: 5em;
  font-family: 'DreamAvenue';
  padding-top: 1em;
  color: #5c5a5a
}

h6 {
  font-size: 40px;
  font-family: 'DreamAvenue';
  margin: 0;
  color: #5c5a5a;
}

.song {
  color: whitesmoke;
}

.attireTitle {
  background-color: #d4bdad;
  min-width: 100%;
}

hr {
  width: 100%;
  border-width: 2px;
}

.ImageHeader {
  background-image: url('./assets/Header/Header.png');
  background-position: center left;
  width: 100%;
  height: 100vh;
  padding-top: 1em;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}

#primaryEvents {
  height: 100vh;
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  height: 150px;
  min-width: 957px;
}

.registryRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 50vh;
  justify-content: center;
  border-style: dashed;
  background-color: #e8ddd4;
}

.registryImage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 50vh;
  
  justify-content: center;
  border-style: dashed;
  background-color: #e8ddd4;
}

.registryTitle{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 270px;
  border-style: dashed;
  justify-content: start;
  padding-top: 5em;
}

.registryDescription{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 270px;
  border-style: dashed;
  justify-content: start;
  padding-top: 5em;
}

#root {
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(196, 196, 179, 0.6);
}

.scheduleImageSubCol{
  width: 90%;
  min-width: 295px;
  max-width: 540px;
  border-style: dashed;
  display: block;
  margin: auto;
  flex-direction: column;
  text-align: left;
}

.scheduleTitleSubCol{
  display: flex;
  flex-direction: column;
  width: 90%;
  border-style: dashed;
  justify-content: center;
  padding-top: 6em;
}

.songImageCol{
  width: 70%;
  min-width: 700px;
  max-width: 850px;
  border-style: dashed;
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: left;
}

.songImageSubCol{
  width: 100%;
  min-width: 295px;
  max-width: 850px;
  border-style: dashed;
  display: block;
  margin: auto;
  flex-direction: column;
  text-align: left;
}

.scheduleRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  border-style: dashed;
  background-color: #fffbf7;
}

.songRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  border-style: dashed;
  background-color: #141414;
}

.songTitleCol{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
  border-style: dashed;
  justify-content: center;
}

.songTitleSubCol{
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 290px;
  border-style: dashed;
  justify-content: start;
  padding-top: 6em;
}

.titleText {
  align-content: left;
}

.weddingEventsBackground{
  background-color: #f5f5ef;
}

@media only screen and (max-width: 820px) {
  .mobile-hidden {
    display: none;
  }
  .mobile-shown {
    display: block;
  }
  .engagementShootCol {
    width: 100%;
    flex-direction: column;
  }
  .scheduleTitleSubCol {
    display: block;
    width: 100%;
    padding: 0;
  }
  .faqQuestionsCol {
    width: 100%;
  }
  .scheduleImageSubCol {
    padding: 2em;
  }
  .faqTitleSubCol {
    width: 100%;
    padding: 0;
  }

  .faqQuestionsSubCol {
    width: 100%
  }
  
}

@media only screen and (min-width: 821px) {
  .mobile-hidden {
    display: block;
  }
  .mobile-shown {
    display: none;
  }

}